[2021-05-18 01:17] jasonzondor opened #2 "BUG - Column Reference Order"
**Are you a current Fivetran customer?**
Evaluating / POC

**Describe the bug**
When formulas are referencing other formulated objects, the order in which they appear in the select statement matters.  If the referenced column isn't stated before being used in a calculation, at least in Snowflake, the view creation statement will fail.

**Steps to reproduce**
Using this package, and defining a view

[2021-05-18 22:08] fivetran-kristin commented on #2
@jasonzondor thanks for creating this bug, and for using our formula field package!

@fivetran-joemarkiewicz can you please take a look at this tomorrow?

[2021-05-18 22:17] fivetran-joemarkiewicz commented on #2
Sure thing, thanks for testing the macro out and opening this @jasonzondor!

I'll post back here tomorrow if I have any clarifications.

[2021-05-19 04:34] jasonzondor commented on #2
Greetings @fivetran-joemarkiewicz.  Let me know if I can help in anyway!

[2021-05-19 20:01] jasonzondor commented on #2
Thought I'd add a bit more context.

Error that I receive:
![Screen Shot 2021-05-19 at 2 45 56 PM](https://user-images.githubusercontent.com/5804964/118874995-26867400-b8b1-11eb-9a3c-3e1f0a072b07.png)

If you notice, the line numbers will be off from the error above, but in the code below, it's actually lines 112 and 113.  112 has a reference to 113 for "PROPANE_AMOUNT_METERED_C".

Compiled Code o

[2021-05-19 20:05] fivetran-joemarkiewicz commented on #2
@jasonzondor thanks so much for providing this additional context! This is extremely helpful and will help guide me to implementing this bug fix.

I am currently close to fixing the issue and will most likely have a working branch for you to test before the end of the day. I will post back here with the details on how to install the working branch once it is ready.

[2021-05-19 20:07] jasonzondor commented on #2
You bet!  Thank you so much!

[2021-05-19 23:24] fivetran-joemarkiewicz commented on #2
Hi @jasonzondor I have been able to push my most recent changes to a new branch on this repo titled `reference-formula-fix`. Within this branch I have been able to add an additional macro to the workflow which will allow for a created formula to be accurately used within a formula field. However, the current branch is limited to one level of formula reference.

For example, if the field `amount_2`

[2021-05-19 23:29] jasonzondor commented on #2
Awesome! Thanks for picking this so quickly. I will give it a try tonight.

- Jason

[2021-05-20 01:38] jasonzondor commented on #2
@fivetran-joemarkiewicz
We have success!  Thank you.  Do you want me to close this bug or do you want to use this bug to also implement multi-layer dependencies?

![Screen Shot 2021-05-19 at 8 36 10 PM](https://user-images.githubusercontent.com/5804964/118905722-e55a8800-b8e1-11eb-82c7-591618ac5f73.png)

- Jason

[2021-05-20 13:50] fivetran-joemarkiewicz commented on #2
Wooo I am glad it was able to succeed for you! We can keep this issue open as I will plan to merge the branch with `main` once we are able to implement the multi-layer dependencies.

I will post back here once we are able to merge and conclude the Issue. Thanks again for calling this out and for all your help!

[2021-05-20 15:19] jasonzondor opened #3 "FEATURE - Automatically build join for reference formulas"
**Are you a Fivetran customer?**
Evaluating / POC

**Is your feature request related to a problem? Please describe.**
Salesforce also utilizes lookups however when referencing lookups, sometimes the objects in the reference contain "__r" which is a built in function in Salesforce that automatically joins to the appropriate field in the lookup table.

**Describe the solution you'd like**
Have this

[2021-05-20 19:59] fivetran-joemarkiewicz commented on #2
@jasonzondor, after spending some time looking into the issue of further multi-layer dependencies we believe it would be extremely non-performant to do further iterations over the formula fields to capture all higher dependencies above 2.

As such, we added a new variable (`sfdc_exclude_formulas`) that a user can set within their `dbt_project.yml` to exclude any of these three or greater reference

[2021-05-20 19:59] #2 closed

[2021-05-20 20:19] fivetran-joemarkiewicz commented on #3
Hi @jasonzondor thanks for opening this Feature Request! I wanted to ask a few questions about the lookup functionality you are describing:
1. Am I correct when thinking about this that these lookup formulas are referencing fields from other tables, and that is the reason for them?
2. Will the names of these fields always contain `__r`?
3. Similar to Issue #2, can these lookup fields reference a f

[2021-05-20 21:19] fivetran-joemarkiewicz commented on #2
@jasonzondor While this issue has been closed, I wanted to let you know that a review for the open PR may take some time and therefore a release will be delayed until then.

If you would like to use the changes we discussed then you are more than welcome to continue using the git package dependency I shared above. Until then, you can follow the PR for when it is merged and released. Thanks!

[2021-05-21 13:07] jasonzondor commented on #3
@fivetran-joemarkiewicz

1. Correct
2. I spot checked about a dozen and they all had __r in the name.  However, interestingly enough, I noticed that after I started syncing the Account table, the SQL column in the FIVETRAN_FORMULA table was showing up with the translated (Account__r to Account) fields.  If this is the case, then this feature request may not be necessary.
3. Yes, they can.
4. I wil

[2021-06-01 15:34] fivetran-joemarkiewicz commented on #3
Thanks @jasonzondor, were you able to see if these join references are already being converted within the SQL column of the FIVETRAN_FORMULA table? If that is the case then I think you are right and this feature may already be taken care of at the table sync level.

[2021-06-01 19:40] djbelknapdbs opened #5 "BUG - Salesforce system variables left in formula SQL"
**Are you a current Fivetran customer?**
Yes

**Describe the bug**
There are fields with dots in the SQL formulas that break, at least in Snowflake. This bug report is where the formula references a Salesforce variable like `$User.ProfileId`

**Steps to reproduce**
1. Create a formula in Salesforce that references a Salesforce variable like $User
2. Sync that object with Fivetran
3. Check the SQL

[2021-06-01 19:48] djbelknapdbs opened #6 "FEATURE - Allow for multiple dbt sources"
Let me know if I missed something and this is possible now - this is based on my read of dbt and this package's documentation.

**Are you a Fivetran customer?**
Yes

**Is your feature request related to a problem? Please describe.**
We currently sync Salesforce with multiple Fivetran connectors which means they end up in separate schema in Snowflake. Since dbt doesn't support multiple schemas per

[2021-06-01 20:00] djbelknapdbs opened #7 "BUG - Detail roll-up formulas break subsequent formulas"
**Are you a current Fivetran customer?**
Yes

**Describe the bug**
I have two objects with a master-detail relationship with the Account object. The account object has roll-up formulas from the detail records, and formulas based on those roll-up fields. The roll-up formulas are excluded so the fields don't get created, but then the subsequent formulas fail because the roll-up field wasn't created.

[2021-06-01 20:50] djbelknapdbs opened #8 "BUG - References to fields that don't exist on an object"
**Are you a current Fivetran customer?**
Yes

**Describe the bug**
A formula references a field that isn't synced so the formula breaks. In this case, both fields are on the contact but the issue happens on the account object.

**Steps to reproduce**
1. In Salesforce, make two Contact fields
  a. A regular field
  b. A second field that references the regular field in a formula
2. Sync the data in

[2021-06-01 21:46] fivetran-joemarkiewicz commented on #8
HI @djbelknapdbs thank you for opening this issue and your detailed descriptions!

From the information you provided there seem to be two key problems:
1. Salesforce fields are not being synced
2. Formula fields which then reference these fields which didn't sync fail because the field doesn't exist.

I will coordinate with our internal team to help resolve the first issue. I can also include logi

[2021-06-01 21:57] fivetran-joemarkiewicz commented on #7
Hi @djbelknapdbs thanks for opening this issue and for your detailed description of the issue!

We have encountered another customer who experienced a similar issue with the roll-up fields you described and are working on a solution. You mentioned your preferred solution would be to remove the roll-up fields? Would you try and recreate them again in downstream models, or do you feel there no need

[2021-06-01 22:00] djbelknapdbs commented on #7
Hi @fivetran-joemarkiewicz - Thanks for the update. If you can get them included with real logic that would be ideal! But since they are a reference to other objects I figured it wouldn't be in scope for this package unless lookups get added.

[2021-06-01 22:03] fivetran-joemarkiewicz commented on #6
Thank you for opening this Feature Request and providing a link to your fork!

I think this is a great idea and one we should include in a future release of the package. I just took a look at your fork and the logic makes sense to me and allows for a more dynamic ability for users to specific the source schema name if they do not want to use `salesforce`. You can submit your changes as a PR as thi

[2021-06-01 22:06] fivetran-joemarkiewicz commented on #5
Hi @djbelknapdbs thanks opening this Issue and for your detailed description!

I believe this would be a fix that is best implemented at the connector level so we can reference the variable. As the dbt package would fail regardless of the `.` since it wouldn't know what the variable is (to the best of my knowledge). I will bring this to the attention of our internal product team to see what next s

[2021-06-01 22:08] fivetran-joemarkiewicz commented on #7
I completely agree. I will most likely scope this work out for our next sprint to remove the roll-up fields, but will continue the conversation with our internal team for having the real logic be built out in the future.

[2021-06-04 13:39] fivetran-joemarkiewicz commented on #5
@djbelknapdbs I have been able to contact our internal team and believe the best move forward is to create a support ticket through our [Fivetran Support](https://support.fivetran.com/hc/en-us) portal since this is not an issue that can be directly solved with this dbt package. Creating this support ticket will allow our team to understand the observed behavior in more detail and help resolve the

[2021-06-04 13:43] fivetran-joemarkiewicz commented on #8
@djbelknapdbs I have been able to contact our internal team and believe the best move forward is to create a support ticket through our [Fivetran Support](https://support.fivetran.com/hc/en-us) portal since this is not an issue that can be directly solved with this dbt package. Creating this support ticket will allow our team to understand the observed behavior in more detail and help resolve the

[2021-06-07 21:59] fivetran-joemarkiewicz commented on #8
Per above comment I will close this Issue. Please feel free to reach out if you have any other questions following the creation of the support ticket.

Thanks!

[2021-06-07 21:59] #8 closed

[2021-06-07 22:00] fivetran-joemarkiewicz commented on #5
Per above comment I will close this Issue. Please feel free to reach out if you have any other questions following the creation of the support ticket.

Thanks!

[2021-06-07 22:00] #5 closed

[2021-06-07 22:06] fivetran-joemarkiewicz commented on #7
@djbelknapdbs I have been able to add logic to the most recent merge to `main` which will carry the null value from these roll-up fields through to other formula fields which reference these. This way, since the current roll-up field is null then the formula field that references this roll-up field will also be null now. This should be fix the error message you were receiving previously on this is

[2021-06-11 21:36] fivetran-joemarkiewicz commented on #6
@djbelknapdbs

I have been able to create a draft PR that allows for users to override the name of the salesforce source! Unfortunately I was unable to get the solution you provided in your PR #9 to work on my end. I was receiving a runtime error when passing the argument into the source. The only instance I was able to get the source name changed was through the use of a variable set within the `

[2021-06-14 13:45] fivetran-joemarkiewicz commented on #3
Hi @jasonzondor I wanted to reach back out to see if the problem was still persisting on your end? If not, I can close this Issue. Otherwise we can continue the converstation.

Thanks!

[2021-06-14 13:47] jasonzondor commented on #3
@fivetran-joemarkiewicz, Sorry, I was vacation a couple weeks ago, and spent most of last week catching up.  I'll report back on it this week.

[2021-06-22 17:13] fivetran-jamie opened #11 "FEATURE - dynamic recursion!"
see this maybe?? https://github.com/fishtown-analytics/dbt-utils/blob/master/macros/sql/generate_series.sql

[2021-06-28 14:10] fivetran-joemarkiewicz commented on #3
@jasonzondor wanted to check back in if you were able to look into this issue to see if it is resolved on your end?

[2021-06-28 14:11] fivetran-joemarkiewicz commented on #6
@djbelknapdbs I wanted to check in if you were able to successfully use different sources with the branch mentioned above?

We are planning on merging and releasing this branch mid this week. Let us know if you had any issues. Thanks!

[2021-06-29 16:10] djbelknapdbs commented on #6
Hi @fivetran-joemarkiewicz - sorry I didn't follow up - I didn't actually try that approach because it doesn't fit our use case. We have 3 schemas (sources) that all contain Salesforce objects, so we need it to be a macro-level setting rather than a project setting.

I think the changes in #4 conflict with my changes that happened in parallel. My approach with parameters should still work if it ge

[2021-06-29 21:12] fivetran-joemarkiewicz commented on #6
Thanks @djbelknapdbs that makes a lot of sense and I would agree that a maco approach would make the most sense for users going forward. If you do have time then I would be open to reviewing a PR without conflicts to accommodate the macro approach you originally took.

[2021-06-30 16:14] fivetran-joemarkiewicz opened #12 "FEATURE - SQL View Update"
**Are you a Fivetran customer?**

Internal Feature Request to leverage the `view_sql` field within the formula table.

**Is your feature request related to a problem? Please describe.**

No problem, connector update to provide better sql translation of sfdc formulas.

**Describe the solution you'd like**

Leverage the `view_sql` field for formulas that reference other objects.

**Please indicate t

[2021-06-30 16:15] djbelknapdbs opened #13 "BUG - multiple formula references breaks refactor"
**Are you a current Fivetran customer?**
Yes

**Describe the bug**
When a formula references more than one earlier formula, the refactor macro creates more than one formula in the output array which breaks the pivot macro.

Here's an example. This is the data in the fivetran_formula table:
|field|sql|
|---|---|
|field1|null|
|field2|null|
|field3|CASE field1 = 'abc' OR field2 = 'abc' WHEN true THE

[2021-06-30 16:26] fivetran-joemarkiewicz commented on #13
Thanks for opening this issue @djbelknapdbs. This package is currently undergoing a lot of feature enhancements and I will take this one into consideration as you would want the result of the macro to be able to identifier more than one formula if that is the case.

I will keep you updated here when we release `v0.2.0` of this package which will contain the bug fix for this issue.

Thanks again fo

[2021-07-08 19:32] fivetran-joemarkiewicz commented on #6
This Issue has been resolved in the most recent PR merge. You can expect this change to be reflected in the next release of this package.

Closing the Issue, be sure to watch the releases of the package updates early next week!

[2021-07-08 19:32] #6 closed

[2021-07-14 18:50] fivetran-joemarkiewicz commented on #11
Thanks for calling this out @fivetran-jamie. I was able to add this feature in the latest `v0.2.0` release!

[2021-07-14 18:50] #11 closed

[2021-07-14 18:50] fivetran-joemarkiewicz commented on #12
This has been included in the recent `v0.2.0` release.

[2021-07-14 18:50] #12 closed

[2021-07-14 18:52] fivetran-joemarkiewicz commented on #13
Thanks for calling this out @djbelknapdbs! I have just cut `v0.2.0` release of this package and should be live within the hour. This bug has been addressed.

Please let me know if you notice any other issues when exploring this package.

[2021-07-14 18:52] #13 closed

[2021-07-14 18:53] fivetran-joemarkiewicz commented on #7
Closing this ticket as next steps most likely have been migrated to a support ticket. Additionally, if you still need to remove the rollup fields you can use the variable `sfdc_exclude_formulas` to exclude certain fields.

Please feel free to reopen this issue or open a new one if you feel this has not been addressed or come across any other issues.

[2021-07-14 18:53] #7 closed

[2021-07-20 16:05] fivetran-joemarkiewicz opened #16 "FEATURE - formula-field-inclusion option"
**Are you a Fivetran customer?**

Fivetran created Issue

**Is your feature request related to a problem? Please describe.**

No.

**Describe the solution you'd like**

Add functionality to allow a user to use a mode which only uses formulas they set rather than use all formulas and allow them to exclude.

**Please indicate the level of urgency and business impact of this request**

To be tackled

[2021-08-02 20:29] fivetran-joemarkiewicz commented on #3
@jasonzondor wanted to loop back here. After reviewing this Issue a bit more I wonder if the base functionality requested would be better handled at the connector level within the `fivetran_formula` table which the dbt package then leverages opposed to the package handling each aspect.

Let me know if that aligns with your understanding. If so, I think it would be best to open a  [Fivetran Support

[2021-08-03 14:03] fivetran-joemarkiewicz opened #19 "BUG - Reserved word "From" being replaced with source schema and table in sql"
**Are you a current Fivetran customer?**

Yes, Customer Rittika Jindal raised this issue within dbt slack

**Describe the bug**

The customer is noticing that the `from` reserved word is incorrectly being replaced with the source schema and table.

**Steps to reproduce**
1. Create a field within `from` somewhere in the sql
2. Run the dbt job and see that sql is replaced with the source schema and

[2021-08-04 14:02] #19 closed

[2021-08-16 22:30] #3 closed

[2021-08-16 22:30] fivetran-joemarkiewicz commented on #16
This feature has been included in the latest release of the package!

[2021-08-16 22:30] #16 closed

[2021-09-02 17:14] kevinohara80 opened #22 "BUG - Invalid empty identifier"
**Are you a current Fivetran customer?**
Yes, Kevin O'Hara @ Signal Advisors

**Describe the bug**
Getting the following error when creating a model with `sfdc_formula_view`

[code]

The referenced line in the compile SQL shows the issue with the missing identifier:

[code]

I'm assuming that the table name `lead` should render inside of the backticks?

**Steps to reproduce**
1. Run `dbt run` agai

[2021-09-03 14:35] fivetran-jamie commented on #22
hey @kevinohara80 sorry you're seeing this issue! we'll look into this early next week and get back to you here

[2021-09-07 11:33] kevinohara80 commented on #22
@fivetran-jamie Thank you! We're looking forward to getting this working!

[2021-09-07 15:59] fivetran-joemarkiewicz commented on #22
@kevinohara80 As this package was originally developed using Snowflake, we did not anticipate the backtick adjustment for BigQuery users. I have since been able to create a working branch and a draft PR that should resolve this issue for you. You can give the below a try in your `packages.yml` and let us know if this fixes the issue.
[code]

Additionally, if you experience an alias error within yo

[2021-09-08 14:43] kevinohara80 commented on #22
@fivetran-joemarkiewicz Thanks for looking into this. That branch seems to resolve the current issue, but I'm running into a different issue now.

Given

[code]

I get the following error:

[code]

Any idea what that error could mean?

[2021-09-08 14:46] fivetran-joemarkiewicz commented on #22
Ah yes I came across this with BQ as well. Could you try the below macro instead?

[code]
I found closing the `fields_to_include` argument in quotes was needed. I am still looking into why this is required for BigQuery, but I did find it resolved on my end when this was done. Let me know if this works!

[2021-09-08 14:47] kevinohara80 commented on #22
So, it looks like that issue presents itself when there is only one item in `fields_to_include`. If I add a second formula, the view is created successfully.

[2021-09-08 14:51] fivetran-joemarkiewicz commented on #22
Oh interesting 🤔

I am glad the view was created succesfull though!! I will move forward with integrating the working branch into the next release. I will let you know here once we cut a new patch release of the package.

[2021-09-09 21:46] fivetran-joemarkiewicz commented on #22
Hi @kevinohara80 I just merged and cut a new release `v0.4.1` for this package which addresses the backtick issue you were seeing. This release should be live on the dbt hub at the top of the hour.

If you have any other issues or a feature request, feel free to open another issue. Thank you again for raising this with our team!

[2021-09-09 21:46] #22 closed

[2021-09-27 22:58] fivetran-joemarkiewicz opened #24 "FEATURE - Referential Lookup for view_sql formulas"
**Are you a Fivetran customer?**

Fivetran created Feature Request

**Is your feature request related to a problem? Please describe.**

Somewhat of a problem, but the macro logic will not check for referential fields within the `view_sql`. It would be ideal if this package would be able to take the same referential lookup approach that is done with the `sql` field for `view_sql`

**Describe the so

[2021-09-30 22:22] fivetran-joemarkiewicz opened #25 "BUG - fields_to_include must have more than one field"
**Are you a current Fivetran customer?**

The `fields_to_include` argument for some reason **must** have more than one field in order for it to work. This is not breaking, but is strange and should be addressed. We should implement a way for the argument to work with just one field within the inclusionary argument.

**Describe the bug**

The `fields_to_include` argument only working if there are m

[2021-10-07 21:35] yedynaki opened #26 "BUG - [Expression to the left of comparison must be parenthesized at]"
**Are you a current Fivetran customer?**

Ihor Yedynak, Data Architect, Collegis Education

**Describe the bug**

I am getting the message below after setup and running model
{{ salesforce_formula_utils.sfdc_formula_view('enrollmentrx_rx_enrollment_opportunity_c') }}
Server error: Database Error in rpc request (from remote system)
Syntax error: Expression to the left of comparison must be parenthe

[2021-11-09 16:37] #25 closed

[2021-11-09 16:39] fivetran-joemarkiewicz opened #31 "BUG - Resolve Mixed Casing Issues"
**Are you a current Fivetran customer?**

Fivetran created PR, but identified first by @morgankrey-amplitude

**Describe the bug**

The bug is well defined in [dbt-labs/dbt-utils#424](https://github.com/dbt-labs/dbt-utils/issues/424). Additionally the mentioned issue identifies the possible solution as well.

**Expected behavior**

Users with Mixed Casing in their Snowflake warehouse do not experi

[2021-12-15 14:39] fivetran-joemarkiewicz commented on #31
This bug has been addressed in the latest `v0.5.1` release of this package.

[2021-12-15 14:39] #31 closed

[2021-12-17 04:38] dfagnan opened #34 "BUG - FORMULA SQL IS LOWERCASeD"
**Are you a current Fivetran customer?**
Yes

David , Artica

**Describe the bug**
The formula SQL is lower cased so for example:
`CASE WHEN field = 'Bob' THEN 1 ELSE 0 END as isBob`

would become
`case when field = 'bob' then 1 else 0 end as isbob`

And therefore fail to match `Bob` correctly.

**Steps to reproduce**
Try a case statement Salesforce formula that is case-sensitive

See line causing

[2021-12-17 04:38] dfagnan commented on #34
Unrelated - is there a Fivetran opinion on how to use this with your other packages? https://github.com/fivetran/dbt_salesforce_source
They seem somewhat incompatible / conflicting in that the other packages don't know about "fivetran_formula"

[2021-12-17 13:54] fivetran-joemarkiewicz commented on #34
Hey @dfagnan, thanks so much for creating this issue!

I actually just encountered a similar issue where a `convert_timezone` function was not working because I lower case the fields and the timezone is not able to find a match. I believe the snippet of code you pointed out is right on track with where I am thinking we should make some adjustments to ensure we do not change the casing.

Since you

[2021-12-29 11:24] pekkajauhi opened #35 "BUG - Tablename missing __alias when multiple left joins"
**Are you a current Fivetran customer?**

Yes. Jukka-Pekka Jauhiainen, Data Engineer, Kalevamedia

**Describe the bug**

When a formula field is included that requires the use of multiple left joins, the tablename in the join condition is missing __alias from the end.

For example if I have a formula field in the account table that uses field from the user_role table, which is joined with two left

[2021-12-29 14:19] fivetran-joemarkiewicz commented on #35
Hi @pekkajauhi thanks so much for opening this issue. This seems to be an issue at the core of how the `view_sql` is being generated. I will forward this bug report to our engineering team to address this during the sync to the `fivetran_formula` table.

Additionally, our team is currently working on the Bug #34 and should have a fix implemented following the new year!

[2021-12-29 14:22] fivetran-joemarkiewicz opened #36 "BUG - From Clause with Redshift Results in Error"
**Are you a current Fivetran customer?**

Fivetran created Issue

**Describe the bug**

The package cannot create all SQL script, it tries to put schema name in front of the table names but it can’t put properly.
( select main_table.id, ( user__alias.email ) as email_c from "prod"."salesforce".""opportunity left join "prod"."salesforce".""quote_c as quote_c__alias on main_table.primary_quote_c = q

[2021-12-29 15:32] fivetran-joemarkiewicz commented on #36
I believe a similar conditional for Redshift will need to be applied in the below lines.

https://github.com/fivetran/dbt_salesforce_formula_utils/blob/55b800591c04e81329bfcb731e0d70b3f6d31e89/macros/sfdc_formula_view_sql.sql#L13-L21

[2022-01-07 23:03] fivetran-jamie commented on #36
yeah adding a redshift conditional there fixed the original error, but now i'm seeing some trouble around `as main table`

[code]

the join_to_table (opportunity) joins on itself with an alias, and that already-aliased table is having `as main_table` added to it as well, throwing an error (and also if it did't already have the alias, this would be an issue of both sides of the join having the same

[2022-01-10 15:03] RivkiHofman opened #39 "Error in run of macro: sfdc_formula_view"
Hi

My dbt version is: 0.21.0 .
I want to use with macro: sfdc_formula_view
I installed the packages, the packages.yml is seems so:

packages:
  - package: dbt-labs/dbt_utils
    version: [">=0.6.0", "<0.8.0"]

  - package: fivetran/fivetran_utils
    version: [">=0.2.0", "<0.3.0"]

  - package: fivetran/salesforce_formula_utils
    version: [">=0.5.0", "<0.6.0"]

Then. I created a model for examp

[2022-01-10 15:43] fivetran-joemarkiewicz commented on #36
Great call out!

This is actually something we have come across before and the connector team is planning to handle all `main_table` and other aliasing. We will actually be removing the alias and `main_table` logic shortly. Actually most likely will want to do this today haha. I have a [draft PR](https://github.com/fivetran/dbt_salesforce_formula_utils/pull/38) open that removes the functionality.

[2022-01-11 16:56] fivetran-joemarkiewicz commented on #39
Hi @RivkiHofman thanks so much for opening this issue!

Looking at your versioning and config, it looks to all be correct. We are currently aware of this `main_table` aliasing issue and we are currently working on implementing a fix. I imagine once we are able to resolve this issue then your error should fix itself out.

I will post back here once we have the fix we are working on implemented.

[2022-01-12 08:26] RivkiHofman commented on #39
Hi,
Thank a lot for your answer.
The problem with alias for main table is small problem, please pay attention to what I wrote about the account table,(tables with 2 aliases and names of tables like as salesforce and not like as fivetran), I think that those problems are bigger.

I would appreciate your update.

[2022-01-12 15:09] fivetran-joemarkiewicz commented on #39
Hey @RivkiHofman

I completely agree that the points you made regarding the account table are bigger issues. The double alias should be resolved once we move the aliasing to the connector (should be sometime this week). I am a bit curious about the tables having different names. Are you saying the `fivetran_formula` table is trying to reference a table with 1 underscore, but the actual table in th

[2022-01-13 20:52] fivetran-joemarkiewicz commented on #34
Hi @dfagnan this issue should be resolved in the latest release of the dbt package! Let me know if you continue experiencing the casing issue.

Thanks!

[2022-01-13 20:52] #34 closed

[2022-01-13 20:53] fivetran-joemarkiewicz commented on #36
Thanks for implementing this @fivetran-jamie! This is now live in the latest release of the dbt package! 🎉

[2022-01-13 20:53] #36 closed

[2022-01-13 20:54] fivetran-joemarkiewicz commented on #35
Hi @pekkajauhi a fix has been implemented into the connector code and the dbt package code earlier this morning. Would you mind trying your run again and letting me know if you still see the issue persist?

[2022-01-13 20:55] fivetran-joemarkiewicz commented on #39
Hi @RivkiHofman that is very interesting. Let me look further into this and see what is happening with this renaming.

[2022-01-13 20:57] fivetran-joemarkiewicz commented on #26
@yedynaki I believe this issue has been resolved in the latest release of the dbt package. I will close this issue, but please feel free to open the issue again if you see the error persit.

[2022-01-13 20:57] #26 closed

[2022-01-13 20:58] fivetran-joemarkiewicz commented on #24
This feature is still in the works and a direct resolution to the referential lookup for the view_sql has not been established at the moment.

[2022-01-14 05:31] dfagnan commented on #34
Thanks @fivetran-joemarkiewicz - I don't think I had any issues related to this after updating. I regret I wasn't more helpful on this one but appreciate your support.

[2022-01-14 07:36] pekkajauhi commented on #35
Hi @fivetran-joemarkiewicz I tried running some models and everything seems to be working as expected. Thanks!

[2022-01-14 15:35] fivetran-joemarkiewicz commented on #35
That's great news! Thanks so much for checking @pekkajauhi 😄

Closing this issue, but feel free to open a new issue if you have any other questions in the future.

[2022-01-14 15:35] #35 closed

[2022-01-18 15:57] fivetran-joemarkiewicz commented on #39
Hi @RivkiHofman thanks for providing more detail!

In the 2 tmp tables: view_sql_1 & view_sql_2 there are 2 alias for account table:
FIVETRAN_DATABASE.NICE_SALESFORCE.account as main_table as main__table
- Which version of the package are you currently using? I believe if you use the latest version of the package then this double aliasing should be resolved.

-  Is  `account_region_c` possible a f

[2022-01-18 16:16] RivkiHofman commented on #39
1.
This is my packages.yml:
packages:

package: dbt-labs/dbt_utils
version: [">=0.6.0", "<0.8.0"]

package: fivetran/fivetran_utils
version: [">=0.2.0", "<0.3.0"]

package: fivetran/salesforce_formula_utils
version: [">=0.5.0", "<0.6.0"]

I can't use with the last version because my dbt version is: 0.21.0 .

2. My formula field is: region_c, in the account table there is no field: account_region_c

[2022-01-18 16:22] RivkiHofman commented on #39
The code is very long, so I focus where my issues:

1. lines:  349,362 (cea_sales_territory_c, parent_ci_mapping_c)
2. line: 328 (region_c)
3. line: 332 (ma_name_c)

[2022-01-21 14:39] fivetran-joemarkiewicz commented on #39
Hi @RivkiHofman thanks for all of this additional information.

I have been able to connect with our engineering team and they have determined it is most likely an issue that needs to be addressed within the connector. Specifically how the connector syncs data into the `fivetran_formula` table in order to rectify the naming changes.

Would you be able to create a [Fivetran Support](https://support

[2022-01-23 17:00] RivkiHofman commented on #39
Thanks @fivetran-joemarkiewicz

I created a request: https://support.fivetran.com/hc/en-us/requests/53432 and put there the link of this issue.

[2022-01-28 20:30] fivetran-joemarkiewicz opened #42 "BUG - Fields Excluded are Still Used in Translated SQL"
**Are you a current Fivetran customer?**

Fivetran created PR

**Describe the bug**

It came to our attention that if a customer leverages the `include_fields` feature of the macro then there could be dependency issues if the formula included references a formula that is not included.

**Steps to reproduce**
1. Leverage the `include_fields` feature of the macro
2. Include only one field. However,

[2022-01-31 08:30] RivkiHofman commented on #39
Hi @fivetran-joemarkiewicz

Is there anything new about this issue?
Do you have time estimation when we will be able to use this package?

Thanks.

[2022-01-31 15:23] fivetran-joemarkiewicz commented on #39
Hi @RivkiHofman the engineering team is currently working on a fix and we will let you know here and in the support ticket once the fix is live.

In the meantime, I will check in to see what an estimated time of completion may be.

[2022-02-07 11:50] RivkiHofman commented on #39
Hi @fivetran-joemarkiewicz

The ticket is in handling, thanks for that.
What about the problem with 2 aliases? can you add the fix of it to version:
  package: fivetran/salesforce_formula_utils
  version: [">=0.5.0", "<0.6.0"]
Or match the last version to our dbt version :  0.21.0 ?

Thanks.

[2022-02-22 20:03] fivetran-sheringuyen opened #45 "BUG - Reserved words handling for fields_to_include bugfix"
**Are you a current Fivetran customer?**

Fivetran created

**Describe the bug**

Posted on dbt/tools-fivetran slack. The new `fields_to_include` update (0.6.2) is working as expected, however, Salesforce has a table named "case" therefore it creates an issue when referring to the "case" table as an alias within a `CASE WHEN` statement. We should add an update to handle reserved words.

**Package

[2022-02-23 23:20] fivetran-joemarkiewicz commented on #42
This has been addressed in the latest release of the package.

[2022-02-23 23:20] #42 closed

[2022-03-02 14:39] fivetran-joemarkiewicz commented on #45
For context, the dbt Slack conversation and detail of the issue can be seen [here](https://getdbt.slack.com/archives/C01D1R2JLLA/p1645541527453169).

Further, another customer mentioned a similar issue on dbt Slack in this [thread](https://getdbt.slack.com/archives/C01D1R2JLLA/p1646193624756599?thread_ts=1646190769.524459&cid=C01D1R2JLLA).

[2022-03-17 20:07] Cameron-Skidmore opened #47 "[Bug] 'dbt run' hangs when running macro on SFDC objects with many columns"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the issue

When doing a 'dbt run' using the macro for the SFDC Account or Opportunity object the build/compile hangs and eventually  the process is killed and the following warning message is displayed:

![Pasted Graphic](https://user-images.githubusercontent.com/86634116/158882581-5e61d11a-df96-4dc2-

[2022-03-17 20:55] fivetran-joemarkiewicz commented on #47
Hi @Cameron-Skidmore thanks so much for opening this issue!

Based on your write-up in the issue and from our discussion during the office hour call, I would like to try and modify the package to determine the root cause of the issue. I believe this has to do with memory allocation within dbt before compilation even begins. Therefore, I am going to create a branch of this package that limits (or r

[2022-03-22 15:37] fivetran-joemarkiewicz commented on #47
Hi @Cameron-Skidmore 👋

As I mentioned, I was able to get a working branch in place that allows you to specifically include **only** relevant base fields you want in your materialized model that is created from this macro. This new argument `base_fields_to_include` allows you to pass through the select fields you want as a list and only those will be materialized. I hope this will help with the pe

[2022-03-22 18:16] Cameron-Skidmore commented on #47
Awesome. Thanks, Joe! I'll test this out today and let you know how it works.

[2022-03-22 23:19] Cameron-Skidmore commented on #47
Ok, I tested the updated macro with several different field combinations on both the Account and Opportunity object, and unfortunately the problem persists. (two examples below)

![image](https://user-images.githubusercontent.com/86634116/159587802-dc7ece9d-5ad8-4cd6-8ddc-31cbb22b5dbc.png)
![image](https://user-images.githubusercontent.com/86634116/159588368-47c0c5ca-813a-447e-85c8-5d89d0b1e708.pn

[2022-03-23 15:03] fivetran-joemarkiewicz commented on #47
Thanks for trying this branch out, but I am sorry to see the issue has not been resolved.

Just to check, did you by chance run a `dbt clean` and then a `dbt deps` after updating the packages.yml?

[2022-03-24 01:43] Cameron-Skidmore commented on #47
I had not run dbt clean when testing last time. I thought maybe that was the issue.

But I ran a clean and deps this time, but still no luck. The problem persists :/

[2022-03-24 13:55] fivetran-joemarkiewicz commented on #47
That's very strange indeed 🤔

Could you share the contents of the `formula_fields_account.sql` file? I am curious what fields you are calling out in the macro.

[2022-03-25 17:58] fivetran-sheringuyen commented on #47
Hey @Cameron-Skidmore! I spent some time looking into this and it looks like it's likely a Python/DBT issue which would be outside of our wheelhouse. There seems to have been a similar issue for quite a few customers a while back [here](https://discourse.getdbt.com/t/common-abort-trap-6-leaked-semaphores-error-reported-in-community/810) and there were a couple of recommendations that you may want

[2022-03-29 23:24] Cameron-Skidmore commented on #47
@fivetran-joemarkiewicz I was OOO for a while. Getting caught up. Sounds like this issue might not be able to be fixed here based on @fivetran-sheringuyen comments.

For what it is worth, here is the contents of the formula_fields_account.sql file. It is just the macro.
![image](https://user-images.githubusercontent.com/86634116/160722358-8b87c138-5671-4f11-8e10-7db9824d4252.png)

[2022-04-13 15:52] fivetran-joemarkiewicz opened #50 "[Bug] Remove Customer Alias Override"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the issue

# Issue
Currently the `sfdc_formula_view` macros allows for an argument `reserved_table_name` to be included if you want/need to change the alias of your source table. This is needed if your base table is in itself a reserved word in your warehouse that could cause an error at runtime.

In

[2022-05-04 13:59] fivetran-joemarkiewicz commented on #50
This issue has been resolved in the latest release of the package.

[2022-05-04 13:59] #50 closed

[2022-05-04 18:52] rob-seaberg commented on #45
Are you a current Fivetran customer?

yes

Describe the bug

I am experiencing the same [issue ](https://github.com/fivetran/dbt_salesforce_formula_utils/issues/45#issue-1147316716) when using `sfdc_formula_view` for with the salesforce case table.  I see that only Snowflake is checked above so I want to flag that it is a BQ issue as well

Package Version

    package: fivetran/salesforce_formula_

[2022-06-02 16:07] moreaupascal56 opened #52 "[Bug] CreatedBy Salesforce function is not dealt with properly"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the issue

I have a formula on opportunity table  like :
[code]

(It is more complicated in reality but anyway this is the problematic part)

So we should have 3 joins :
- 1 for the `CreatedBy.id ` which should be : `left join user on user.id = opportunity.created_by_id
`
- 2 to catch user_role :
[cod

[2022-06-07 20:25] abdullahhfz opened #53 "[Feature] Allow users to select materialization type in salesforce_formula_view"
### Is there an existing feature request for this?

- [X] I have searched the existing issues

### Describe the Feature

salesforce_formula_utils.salesforce_formula_view.sql hardcodes the materialization. As a user I am unable to change that, even if I set a configuration in the dbt_project.yml or create a config in the model sql file using CTE. The only way I can change the materialization is by

[2022-06-07 20:30] fivetran-joemarkiewicz commented on #52
Hi @moreaupascal56 thanks so much for opening this issue!

Unfortunately, this is one that will need to be addressed within the connector itself (which my team does not have much insight into). I would recommend opening a [Support Ticket](https://support.fivetran.com/hc/en-us) so one of our engineers may look at this deeper and be able to address the bug within the connector.

[2022-06-08 08:30] moreaupascal56 commented on #52
Hey 👋  Ok yes I understand, so everything that is already in the Formula table is done by the connector that's logical.
Thanks for your answer and have a great day 🌞

[2022-06-08 08:30] #52 closed

[2022-08-10 01:55] jeff-skoldberg opened #56 "do not null out fields that dbt cannot calculate"
### Is there an existing feature request for this?

- [X] I have searched the existing issues

### Describe the Feature

In some cases fivetran_formulas table has a null value SQL field, so dbt is not able to rebuild the formula.  Therefore, to get ALL formula fields from salesforce, we need a mixed approach:  Let dbt calculate fields that it can, then get the remaining fields from fivetran (with

[2022-08-10 14:50] fivetran-joemarkiewicz commented on #47
Closing this issue as stated above it is probably best suited to be addressed within dbt-core. Please feel free to re-open the issue if needed.

[2022-08-10 14:50] #47 closed

[2022-08-10 14:51] fivetran-joemarkiewicz commented on #39
The aliasing of the formula field joins should be properly handled within the latest release of the package! As such, I will close this issue. Please feel free to re-open if needed. Thank you!

[2022-08-10 14:51] #39 closed

[2022-08-10 14:53] #53 closed

[2022-08-10 14:54] fivetran-joemarkiewicz commented on #53
Closed this issue as the feature has been implemented in the latest version of the package.

[2022-08-10 18:54] calder-holt opened #57 "[Bug] Macro compilation error"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the issue

Attempting to create a model using the macro for this package yields a compilation error.

`{{ salesforce_formula_utils.sfdc_formula_view(source_table='account') }}`

### Relevant error log or model output

[code]

### Expected behavior

Compiles to a model with formula fields

### dbt Proj

[2022-08-16 13:48] calder-holt commented on #57
@fivetran-joemarkiewicz I was wondering if you all heard anything back from dbt labs about the compilation error? Also, if there is any workaround we can do to call the macros directly in our model that would be good to know so we could use the package to get some models out the door for our salesforce team.

[2022-08-16 21:46] fivetran-joemarkiewicz commented on #57
Hi @calder-holt I was able to find the [dbt-utils issue](https://github.com/dbt-labs/dbt-utils/issues/424) I had mentioned during our call. However, it seems we were able to address the issue and merged the fix into the package. Therefore, this issue must be some different variation we haven't accounted for yet 🤔.

I am still looking into this, but having trouble recreating the issue on my end. Wo

[2022-08-17 13:07] calder-holt commented on #57
@fivetran-joemarkiewicz absolutely!

dbt_project.yml

[code]

sources.yml

[code]

[2022-08-19 19:21] fivetran-joemarkiewicz commented on #57
Thanks @calder-holt I still haven't been able to replicate the error just yet. Can you confirm if your Snowflake instance is case sensitive?

[2022-08-22 14:57] fivetran-joemarkiewicz commented on #57
@calder-holt my apologies that may be the reason I am not able to replicate the issue at hand 🤦. I am not sure I was assuming you were on Redshift when you even called it out in the Issue description.

Let me replicate my instance on Redshift and see if I have any luck!

[2022-08-23 21:36] fivetran-joemarkiewicz commented on #57
@calder-holt I was able to replicate a _similar_ (not the same) error when running with the same src.yml configuration you have above. While, it is not the same error, I think it may be leading us in the right direction.

I noticed when adding the following to my src.yml
[code]
I started to get compilation errors. Once I removed them, I started to see successful runs. Would you mind removing those

[2022-08-30 18:11] fivetran-joemarkiewicz commented on #56
Hi @jeff-skoldberg thanks for opening this feature request and I apologize for the delayed response.

I am very much in the corner of not wanting to secretly swap in the feature flagged formula in this solution as it opposes the intention of this package where the formula fields generated are accurate and up to date. If we brought in the formula which is synced via the connector, we could be passi

[2022-08-30 20:03] BIBenHBP opened #58 "[Bug] differing_order_account_c throws Unknown Alias error in Snowflake"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the issue

When Dbt tries to run the Transaction table from salesforce into snowflake it fails and throws an unkown alias error on order_c__alias.account_c. In researching the compiled sql it looks like the order of the Left Outer joins is causing this. Reordering the join clause fixes the issue.
![im

[2022-08-31 16:16] raymondgh commented on #56
Hi Jeff, PM for Fivetran Salesforce connector here. Just wanted to pop in to thank you for your suggestion & use case context here!

While I agree with Joe that mixing transformed & synced formula fields could cause confusion & distrust, you have a point that in the end, sometimes something is better than nothing when it comes to getting these column values. A custom-written transformation would b

[2022-09-02 20:37] fivetran-joemarkiewicz commented on #58
Hi @BIBenHBP thanks so much for opening this issue!

We actually just released an update to the package (and the connector) that may address this issue for you! Would you be able to upgrade your package to the latest version `0.7.0` and try our [option #1](https://github.com/fivetran/dbt_salesforce_formula_utils#option-1-generate-all-relevant-formula-fields-at-once) in the README. The only adjustm

[2022-09-06 15:51] jmcdonald-moveworks opened #59 "SQL Can't Handel Null"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the issue

For fields involving numeric values the translation from Salesforce formula to SQL isn't exactly correct.

I have a salesforce field named [Growth ARR] with the following salesforce formula: \
`ARR__c - Renewal_Baseline_ARR__c
`

This package translates this simple formula to:
`arr_c - rene

[2022-09-06 16:15] fivetran-joemarkiewicz commented on #59
Hi @jmcdonald-moveworks thanks so much for opening this issue. This is definitely an interesting scenario. So if I am understanding this correctly, Salesforce interprets a certain number of null records as non null?

[2022-09-06 18:02] fivetran-joemarkiewicz commented on #57
Hi @calder-holt 👋

I was just curious if the above suggestion ended up working for you?

[2022-09-06 19:53] jmcdonald-moveworks commented on #59
@fivetran-joemarkiewicz I believe that's correct. Behind the scenes it seems to have some sort of null handling that replaces null with 0:
<img width="1513" alt="sfdc" src="https://user-images.githubusercontent.com/104589818/188726197-cff7bb7b-36d3-4a2d-b25c-87deaa5cf2b0.png">

[2022-09-07 13:17] calder-holt commented on #57
Hey @fivetran-joemarkiewicz sorry for the delayed response here! Removing those lines from the src.yml file I still get the same errors:

[code]

[2022-09-07 14:04] fivetran-joemarkiewicz commented on #57
No worries at all!

If you copy and paste `"raw_fivetran"."salesforce"."fivetran_formula"` and try to run a select statement directly in Snowflake do you see a similar error?
[code]

Or do the warehouse.schema.table all need to be capitalized? If that is the case, we may be able to apply a fix to address that. Before diving into that solution, curious what the results (does it successfully run in

[2022-09-12 13:28] calder-holt commented on #57
@fivetran-joemarkiewicz that query executes fine as is (no changes to capitalization necessary)

[2022-09-13 19:45] mjinu007 opened #60 "invalid input syntax for type boolean: """
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the issue

Hello,

We have already gone through this issue with Joe at Fivetran support.

We have the latest fivetran salesforce formula package,

packages:
  - package: fivetran/salesforce_formula_utils
    version: [">=0.7.0", "<0.8.0"]

When we run the following macro for lead object,

{{ salesforc

[2022-09-13 22:23] fivetran-joemarkiewicz commented on #60
Hi @mjinu007 thanks so much for opening this issue and for meeting with me earlier in the day.

I have been able to look into the issue we encountered on our call where the `lead` table was pulling in the code for the `opportunity` object. I was able to discover the issue at hand and have a fix implemented in a working branch and subsequent PR linked above. I should have this included in the next

[2022-09-15 17:50] fivetran-joemarkiewicz commented on #60
@mjinu007 I just wanted to get back and let you know the change I mentioned above is now live in the latest release of the dbt package!

For the translation error, I would recommend opening the support ticket for our engineering team to resolve. As the issue on the dbt package side has been addressed, I will close out this ticket.

[2022-09-15 17:50] #60 closed

[2022-09-15 17:58] fivetran-joemarkiewicz commented on #57
Hi @calder-holt this is very interesting. This seems to be a dbt-core related issue in my opinion. Since the compiled code executes as expected, I am unsure why it does not materialize when running through dbt 🤔.

A few suggestions I have:
- Open an issue on dbt-core and link this issue for someone to be able to take a closer look on the dbt side as to why it may be compiling properly (as the copy

[2022-09-22 14:51] fivetran-joemarkiewicz commented on #58
Hi @BIBenHBP upgrading the package to the latest version and using Option #1 linked above should do the trick with solving this issue.

I am going to close this issue as I believe this upgrade path should solve the original bug identified. Please feel free to re-open the issue if this does not address your initial bug report. Thanks!

[2022-09-22 14:51] #58 closed

[2022-10-06 14:01] jeff-skoldberg opened #62 "full_statement_version=true does not produce fully qualified table names, required for Snowflake"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the issue

Consider a source.yml like this:
[code]
And a connection in dbt Cloud with a default database of `my_default_database`

Then I have a model, call it my_salesforce_table_with_formulas.sql, which contains this code:
`{{ salesforce_formula_utils.sfdc_formula_view(source_table='my_salesforce_ta

[2022-10-10 20:41] fivetran-joemarkiewicz commented on #62
Hi @jeff-skoldberg thanks for opening this issue. Unfortunately, as described within [this dbt Slack thread](https://getdbt.slack.com/archives/C01D1R2JLLA/p1665066019616339?thread_ts=1665002239.423619&cid=C01D1R2JLLA) this change would require a change on the connector side. The support ticket you opened will be where further communication will take place.

As such, I will close this issue.

[2022-10-10 20:41] #62 closed

[2022-10-10 20:45] jeff-skoldberg commented on #62
Thanks as always, @fivetran-joemarkiewicz

[2022-10-11 21:03] rossserven opened #63 "[Feature] Updgrade fivetran_utils to 0.4.0"
### Is there an existing feature request for this?

- [X] I have searched the existing issues

### Describe the Feature

Running into dependency issues trying to upgrade dbt_utils to 0.9.X.  Recently fivetran_utils 0.4.0 moved to 0.9.X+.  If dbt_salesforce_formula_utils can move to fivetran_utils we can upgrade.

### Describe alternatives you've considered

_No response_

### Are you interested in

[2022-10-17 12:56] fivetran-joemarkiewicz commented on #63
Hi @rossserven thanks for opening this feature request! We are actually in the process of upgrading all of our Fivetran dbt packages to be compatible with the latest fivetran-utils and dbt-utils. These updates _should_ be live at the end of this month.

I will post back with more details as we continue to work on this effort.

[2022-10-20 17:16] jberkowitz89 opened #65 "[Bug] Compiled SQL does not handle quoting and identifier from dbt source"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the issue

Our source `order` is configured in our dbt source having a specific identifier `ORDER`, and quoting set to true.
When referencing this source in regular staging models, the SQL compiles to `database.salesforce."ORDER"`.
When referencing this source in the `salesforce_formula_utils.sfdc_for

[2022-11-01 14:47] fivetran-joemarkiewicz commented on #65
Hi @jberkowitz89 I just wanted to follow up here as we were able to chat during our office hours session last week. Our resolution for this issue was to open a [Support Ticket](https://support.fivetran.com/hc/en-us) for our engineering team to explore applying a fix within the connector itself.

Were you able to open the support ticket? If so, would you like to keep this issue open as well? If not

[2022-11-01 14:47] fivetran-joemarkiewicz opened #66 "[Feature] README Updates"
### Is there an existing feature request for this?

- [X] I have searched the existing issues

### Describe the Feature

This packages README is not currently inline with our existing standards. It would be ideal for this repo to see README updates to be in line with our current documentation guidelines.

### Describe alternatives you've considered

_No response_

### Are you interested in contrib

[2022-11-09 01:13] khgould opened #67 "[Feature] Simplify sfdc_formula_model_automation.sh"
### Is there an existing feature request for this?

- [X] I have searched the existing issues

### Describe the Feature

Hey team,
great stuff! However, using sfdc_formula_model_automation.sh posed an issue with `setopt: command not found` I believe its due to zsh, which comes as default shell now for mac os.

Instead of
[code]

we can simplify to
[code]

### Describe alternatives you've considere

[2022-11-09 01:18] #67 closed

[2022-11-10 17:27] jberkowitz89 commented on #65
Hey Joe,
I was able to pen the support ticket:  https://support.fivetran.com/hc/en-us/community/posts/4617836454551-Connector-Improvement-dbt-salesforce-formula-utils-Support-for-Reserved-Keywords?input_string=Salesforce%20Formula%20Connector%20-

Feel free to close this one out, I'll keep an eye on the issue for any future fixes.

[2022-11-10 17:29] fivetran-joemarkiewicz commented on #65
Thanks @jberkowitz89 appreciate the follow up and I will keep my eye on that support ticket you created.

[2022-11-10 17:29] #65 closed

[2022-11-21 16:46] fivetran-joemarkiewicz opened #68 "[Bug] Snowflake Quoted Identifiers Support Needed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the issue

For customers using mixed casing in Snowflake (and probably other warehouses) are running into issues around quoted identifiers not being supported within the `sfdc_formula_view()` macro.

This should be supported for users who have this type of warehouse implementation.

### Relevant error